.sticky {
    &__container {
        display: flex;
        flex-direction: row;
        height: 1500px;
    }

    &__item {
        margin: 10px;
        height: 1200px;
        width: 100px;

        &-head {
            border: 1px solid black;
            background-color: red;
            height: 100px;
            top: 0;
            position: sticky;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        &-body {
            border: 1px solid black;
            margin-top: 20px;
            height: 1075px;
            background-color: rgb(192, 191, 191);
        }
    }
}