@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App h2 {
  margin-top: 8rem;
}

.button-container {
  margin-top: 1rem;
}

/* DatePicker */
.NavButton {
  border: 1px solid #929598;
  background: transparent;
  padding: 8px;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.NavButton:hover {
  background: #929598;
  color: #fff;
}

.object-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.object-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Orientation Button */
.object-one, 
.object-two {
  border: 1px solid #000;
  color: #fff;
}

.object-one-container,
.object-two-container {
  margin: 1.5rem;
}

.object-one-container-none {
  display: none;
}

.object-two-container-none {
  display: none;
}

.object-one {
  background-color: rgb(253, 0, 0);
  padding: 1.5rem;
  margin: 1rem;
}

.object-one-large {
  border: 1px solid #000;
  color: #fff;
  background-color: rgb(253, 0, 0);
  padding: 5rem;
}

.object-two {
  border: 1px solid #000;
  color: #fff;
  background-color: rgb(0, 38, 253);
  padding: 1.5rem;
  margin: 1rem;
}

.object-two-large {
  border: 1px solid #000;
  color: #fff;
  background-color: rgb(0, 38, 253);
  padding: 5rem;
}

.orientation-button,
.json-submit-button {
  background-color: rgb(0, 102, 219); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.json-submit-button {
  width: 50%;
  align-self: center;
}

.orientation-button:hover,
.json-submit-button:hover {
  background-color: rgb(70, 150, 241);
}

/* JSON FORM */
.json-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

.json-form-label {
  margin-right: 1rem;
}

.form-input-textarea,
.form-input-textfield,
.form-input-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-input-textfield > input,
.form-input-textarea > textarea {
  padding: 1rem;
  width: 80%;
}

.form-input-select > select {
  width: 69%;
}

.form-element-container {
  margin-top: 1.5rem;
}

th {
  text-align: left;
}

th, td {
  padding-top: 1.5rem;
}

td {
  padding-right: 1rem;
}

tr {
  width: 100%;
}

/* Infinite Scroll */

.scroll-container {
  position: relative;
  width: 75vw;
}

.li-card {
  list-style: none;
  box-shadow: 2px 2px 9px 0px #bbb;
  padding: 70px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 1000px;
  margin: 0px 60px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
}